:root {
    --clr-primary-400: hsl(228, 39%, 23%);

    --clr-neutral-900: hsl(232, 12%, 13%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fs-primary-heading: 3rem;

    --fw-light: 100;
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
    --fw-heavy: 900;

    --fs-button: 1rem;

    --size-100: .4rem;
    --size-200: .8rem;
    --size-300: 1.2rem;
    --size-400: 1.6rem;
    --size-500: 2rem;
    --size-600: 3.2rem;
    --size-700: 4.8rem;
    --size-800: 6.4rem;
    --size-900: 8rem;

    --real100vh: 100vh;
}


* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set 1rem equal to 10px */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Remove default margin, padding, and reset fonts */
* {
    margin: 0;
    padding: 0;
    font: inherit; 
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Disable Scrollbar */

/* for Internet Explorer, Edge */
/* for Firefox */

/* html {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
} */

/* for Chrome, Safari, and Opera */
/* 
html::-webkit-scrollbar {
    display: none; 
} */
/* Disable Scrollbar */

 
/*Utility Classes */

.anchor {
    text-decoration: none;
    color: #000;
}

.clr-neutral {
    color: var(--clr-neutral-100);
}

.ff-primary {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* End of Utility Classes */
body {
    background: beige;
}

.background-image {
    background: url(background-2.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 62.5%;

    height: 90rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 90%;
    height: 31rem;
    height: 35rem;
    position: relative;
    margin-block-end: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;   
    gap: 7rem;

    background: url(texture-2.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


.box {
    /*border: 2px solid #000; test*/
    width: 46rem;
    width: 37%;/*ya*/
    max-width: 100%;
    min-height: 31rem;
    position: sticky;
    top: 2rem;
    z-index: 0;
    background: url(frame3.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border: 10px ridge #fff;
    box-sizing: border-box;

}

.images {
    width: 35%; 
    max-width: 100%;
    max-height: 25rem;
    min-height: 29rem;
    scroll-snap-align: center; 
    box-sizing: border-box;
    z-index: 1;
}

.image-1 {
    background: url(art1.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.image-2 {
    background: url(art2.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.image-3 {
    background: url(art3.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.image-4 {
    background: url(art4.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.image-5 {
    background: url(art5.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.image-6 {
    background: url(art6.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}   

.image-7 {
    background: url(art7.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.image-8 {
    background: url(art8.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.image-9 {
    background: url(art9.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.image-10 {
    background: url(art10.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


.page-2 {
    background-color: green;
    width: 100%;
    height: 90rem;
    margin-block-start: 30rem;
}

.container div:last-child {
    margin-bottom: 3rem;
}

@media (min-width: 1740px) {
    .background-image {
        background-position: 50% 58.5%;
    }
}

@media (min-width: 1420px) {
    .container {
        height: 50rem;
        gap: 10.5rem;
    }

    .box {
        top: 9.5rem;
    }

    .images {
        width: 36%; 

    }
}

@media (max-width: 625px) {

}

@media (max-width: 450px) {
    .background-image {
        height: 95rem;
        background-position: 50% -6rem;
    }

    .box {
        width: 85%;
        max-width: 100%;
    }

    .images {
        width: 50rem;
        max-width: 80%;

        width: 20rem; 
        max-width: 100%;
        max-height: 25rem;
        min-height: 25rem;
    }
}