:root {
    --clr-primary-400: hsl(228, 39%, 23%);

    --clr-neutral-900: hsl(232, 12%, 13%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fs-primary-heading: 3rem;

    --fw-light: 100;
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
    --fw-heavy: 900;

    --fs-button: 1rem;

    --size-100: .4rem;
    --size-200: .8rem;
    --size-300: 1.2rem;
    --size-400: 1.6rem;
    --size-500: 2rem;
    --size-600: 3.2rem;
    --size-700: 4.8rem;
    --size-800: 6.4rem;
    --size-900: 8rem;

    --real100vh: 100vh;
}


* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set 1rem equal to 10px */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Remove default margin, padding, and reset fonts */
* {
    margin: 0;
    padding: 0;
    font: inherit; 
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Disable Scrollbar */

/* for Internet Explorer, Edge */
/* for Firefox */

/* html {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
} */

/* for Chrome, Safari, and Opera */
/* 
html::-webkit-scrollbar {
    display: none; 
} */
/* Disable Scrollbar */

 
/*Utility Classes */

.anchor {
    text-decoration: none;
    color: #000;
}

.clr-neutral {
    color: var(--clr-neutral-100);
}

.ff-primary {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fs-primary {
    font-size: 4rem;
}

.top-padding {
    padding-top: var(--size-500);
}

/* End of Utility Classes */
.nav-container {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    min-height: 7rem;
    z-index: 1000;
}

.nav-header {
    flex-basis: 50%;
    text-align: center;
}

.nav-links-wrapper {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    background-color: #5e503f;
    justify-content: space-evenly;
    border-radius: 4px;
}

.nav-links {
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff;
    /* border-right: 1px solid #fff;
    padding: 1.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem; */
    transition: all .2s;
}

.ya {
    width: 25%;
    max-width: 100%;
    border-right: 1px solid #fff;
    text-align: center;
}

.nav-links:hover {
    opacity: 70%;
}

.nav-logo-wrapper {
    flex-basis: 25%;
}

.nav-logo {
    width: 7rem;
    padding-left: 2rem;
}

.background-image {
    background: url(ArtImages/background-2.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 62.5%;

    height: 90rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 90%;
    height: 35rem;
    position: relative;
    margin-block-end: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;   
    gap: 7rem;

    background: url(ArtImages/texture-2.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    cursor: ns-resize;
}


.images-frame {
    width: 46rem;
    width: 37%;/*ya*/
    max-width: 100%;
    min-height: 31rem;
    position: sticky;
    top: 2rem;
    z-index: 0;
    background: url(ArtImages/frame3.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border: 10px ridge #fff;
    box-sizing: border-box;

}

.images {
    width: 35%; 
    max-width: 100%;
    min-height: 29rem;
    scroll-snap-align: center; 
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    cursor: auto;

}

.image-1 {
    background: url(ArtImages/art1.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.images-opacity-filter {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    background-color: #434343;
    position: absolute;
    z-index: 1;
    opacity: 65%;
    transition: all .4s;

}

.images-text-wrapper {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    background-color: transparent;
    z-index: 2;
    position: relative;
}

.images:hover .images-opacity-filter {
    opacity: 0%;
}

.images:hover .images-text-wrapper {
    visibility: hidden;
}

.artist-info-card {
    padding-top: 2rem;
    padding-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.artist-names {
    font-size: 2rem;
    font-weight: 900;
}

.artist-birth {
    font-weight: 400;
}

.artwork-name {
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
}

.artwork-year {
    font-weight: 400;
}

.artwork-materials {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.artwork-description {
    font-size: 1.4rem;
}

.image-2 {
    background: url(ArtImages/art2.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.image-3 {
    background: url(ArtImages/art3.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.image-4 {
    background: url(ArtImages/art4.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.image-5 {
    background: url(ArtImages/art5.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.image-6 {
    background: url(ArtImages/art6.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}   

.image-7 {
    background: url(ArtImages/art7.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.image-8 {
    background: url(ArtImages/art8.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.image-9 {
    background: url(ArtImages/art9.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.image-10 {
    background: url(ArtImages/art10.jpg) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


.page-2 {
    background-color: green;
    width: 100%;
    height: 90rem;
    margin-block-start: 5rem;
}

.container div:last-child {
    margin-bottom: 3rem;
}


@media (min-width: 1420px) {
    .container {
        height: 50rem;
        gap: 10.5rem;
    }

    .images-frame {
        top: 9.5rem;
    }

    .images {
        width: 36%; 

    }
}


@media (min-width: 1740px) {
    .background-image {
        background-position: 50% 59%;
    }

    .container {
        height: 58rem;
        gap: 15rem;
    }

    .images-frame {
        top: 13.5rem;
    }
}

@media (min-width: 2220px) {
    .container {
        height: 73rem;
        gap: 22rem;
    }

    .images-frame {
        top: 21rem;
    }
}


@media (max-width: 915px) {
    .background-image {
        background-position: 50% 65%;
    }
}

@media (max-width: 870px) {
    .background-image {
        background-position: 50% 70%;
    }
}

@media (max-width: 800px) {
    .background-image {
        background-position: 50% 78%;
    }
}

@media (max-width: 755px) {
    .background-image {
        background-position: 50% -5rem;
        height: 95rem;
    }

    .container {
        height: 33rem;
        margin-block-end: 5rem;
        background: none;
    }

    .images {
        min-width: 47%;
        max-width: 100%;
        min-height: 23rem;
    }

    .images-frame {
        top: 4rem;
        width: 50%;
        max-width: 100%;
        min-height: 25rem;
    }
}

@media (max-width: 450px) {
     .background-image {
        height: 95rem;
        background-position: 50% -6.5rem;
    }

    .images-frame {
        width: 85%;
        max-width: 100%;
    }

    .images {
        width: 29.4rem; 
        max-width: 100%;
        min-height: 22.8rem;
    }
    
    .container div:last-child {
        margin-bottom: 5rem;
    }

    .container {
        background: none;
    }

    .artist-names {
        font-size: 1.7rem;
    }
    
    .artwork-name {
        font-size: 1.7rem;
    }
    
    .artwork-materials {
        font-size: 1.5rem;
        margin-top: .5rem;
        margin-bottom: 1rem;
    }
    
    .artwork-description {
        font-size: 1.4rem;
    }
}
